body{
    background: url(http://www.timurtek.com/wp-content/uploads/2014/10/form-bg.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family:'HelveticaNeue','Arial', sans-serif;

}
a{color:#329a42;text-decoration: none;}
a:hover{color:#aaa; }
.pull-right{float: right;}
.pull-left{float: left;}
.clear-fix{clear:both;}
div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}
div.logo svg{
   width:180px;
   height:100px;
}
.logo-active{fill: #329a42 !important;}
#formWrapper{
    background: rgba(0,0,0,.2); 
    width:100%; 
    height:100%; 
    position: absolute; 
    top:0; 
    left:0;
    transition:all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.darken-bg{background: rgba(0,0,0,.5) !important; transition:all .3s ease;}

div#form{
    position: absolute;
    width:360px;
    height:320px;
    height:auto;
    background-color: #fff;
    display: block;
    margin: auto;
    border-radius: 5px;
    padding:20px;
   
}
@media (max-width: 425px) {
    div#form{
        width:250px !important;
     }
}
div.form-item{position: relative; display: block; margin-bottom: 20px;}
input{transition: all .2s ease;}
input.form-style{
   color:#8a8a8a;
   display: block;
   width: 90%;
   height: 44px;
   padding: 5px 5%;
   border:1px solid #ccc;
   -moz-border-radius: 27px;
   -webkit-border-radius: 27px;
   border-radius: 27px;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   background-color: #fff;
   font-family:'HelveticaNeue','Arial', sans-serif;
   font-size: 105%;
   letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #329a42; color:#329a42; }
div.form-item p.formLabel {
   position: absolute;
   left:26px;
   top:2px;
   transition:all .4s ease;
   color:#bbb;}
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#329a42 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
   float:right;
   width: 112px;
   height: 37px;
   -moz-border-radius: 19px;
   -webkit-border-radius: 19px;
   border-radius: 19px;
   -moz-background-clip: padding;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   background-color: #329a42;
   border:1px solid #329a42;
   border:none;
   color: #fff;
   font-weight: bold;
}
input[type="submit"].login:hover{background-color: #fff; border:1px solid #329a42; color:#329a42; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}
